<h1>Real time online polling room</h1>
<div id="main-container">
  <%= render 'lists'%>
<br>

<!--
<form class="form row" >
  <input autocomplete="off" id="post-name" class="msg" placeholder="name" >
  <input autocomplete="off" id="post-desc" class="msg" placeholder="message" >
  <button type="submit">Send</button>
</form>
-->

<%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
      <%= f.text_field :name, :placeholder => "Name"%>
      <%= f.text_field :description, :placeholder => "Message" %>
      <%= f.submit "Sent", :class => 'post_submit'%>
<% end %>

</div>
